@media (max-width:768px){
    .container-footer{
    width: 100%;
    }
    .main-n{
        width: 100;
        justify-content: inherit;
    }
    .header-new-balance{
        display: flex;
        width: 100%;
    
    }
    .header-new-balance input {
        display: flex;
        width: 100%;
    }
}